.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px;
}
.about-text{
    flex:0.7;
    font-size: 24px;
}

.about-items{
    display: flex;
    flex:0.3;
    flex-direction: column;
}
.about-items > button {
    background-color:rgb(70, 131, 184);
    color: white;
    margin-top: 20px;
    box-shadow: 5px 5px 5px 5px gray;

}
.about-text > img{
    height: 700px;
    width: 900px;
    object-fit: contain;
}
.about-items > button:hover{
    background-color:rgb(70, 131, 184);
    color: white;
    font-weight: 400;
    font-size: 16px !important;
}
