.header{
    display: flex;
    height: 50px;
    width: 100%;
    background-color: rgb(70, 131, 184);
    justify-content: space-between;
    align-items: center;
    color:white;
    font-size: 18px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header-logo{
    width: 70px;
    height: 35px;
    margin-right: 5px;
    object-fit: contain;
}

.header-middle {
    flex: 0.7;
display: flex;
align-items: center;

}
.header-input{
    width: 100%;
    height: 20px;
    border: none;
    padding: 5px;
    border-radius: 20px;
    margin-right: 2px;
    font-size: 20px;
    color: lightgray;
}
.header-left{
   flex: 0.2;
   align-items: center;
   display: flex;
}
 
.header-right{
    flex: 0.1;
    align-items: center;
}
.header-left > a , .header-middle > a , .header-right > a {
    margin-right: 15px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
}
.header-left > a:hover , .header-middle > a:hover , .header-right > a:hover {
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}